@page "/events"
@using static CinemaSystem.Components.Pages.CinemaReservationWorkflow.EventPages.EventReservationStartDialog
@inject EventService EventService
@inject CustomerService CustomerService
@inject IDialogService DialogService
@inject IHttpContextAccessor HttpContextAccessor
@inject ReservationStateService ReservationStateService
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ReservationStateAsyncInvoker ReservationStateAsyncInvoker
@inject NavigationManager NavigationManager

<PageTitle>Events</PageTitle>

<h1>Events</h1>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="events" Dense="true" Hover="true" Elevation="0" Class="mud-table-root">
        <HeaderContent>
            <MudTh>Type</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Hall</MudTh>
            <MudTh>Start Time</MudTh>
            <MudTh>Base Price</MudTh>
            <MudTh>Create reservation</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Type">@context.Type</MudTd>
            <MudTd DataLabel="Name">@context.Title</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Hall">@context.CinemaHall?.Name</MudTd>
            <MudTd DataLabel="Start Time">@context.StartTime.ToString("g")</MudTd>
            <MudTd DataLabel="Base Price">@context.BasePrice.ToString("C")</MudTd>
            <MudTd>
                <MudButton OnClick="@(()=>OpenDialogAsync(context))" Variant="Variant.Filled" Color="Color.Primary">
                    <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" />
                    <MudText Class="ml-2">Reserve</MudText>
                </MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    private List<Event>? events;
    private ReservationState reservationState = new ReservationState();
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        events = await EventService.GetAllEventsAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ReservationStateAsyncInvoker.InitializeAsync();
            reservationState = await ReservationStateService.LoadAsync();
            isLoaded = true;
            StateHasChanged();
        }
    }

    private async Task OpenDialogAsync(Event eventItem)
    {
        var parameters = new DialogParameters { ["Event"] = eventItem };
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<EventReservationStartDialog>("Create user", parameters, options);

        var result = await dialog.Result;

        if (result != null && !result.Canceled && result.Data is ReservationCreationResult r)
        {
            var firstName = r.FirstName;
            var lastName = r.LastName;
            var email = r.Email;
            var returnedEvent = r.Event;

            var customer = new Customer
            {
                FirstName = firstName,
                LastName = lastName,
                Email = email
            };
            customer = await CustomerService.CreateCustomerAsync(customer);

            await ReservationStateAsyncInvoker.Clear();
            await ReservationStateService.ClearAsync();
            await ReservationStateAsyncInvoker.ClearTempAsync();
            Console.WriteLine("Cleared main history, main state and temp before starting new reservation.");

            if (returnedEvent != null && customer != null)
            {
                var reservationState = new ReservationState
                {
                    CustomerId = customer.Id,
                    EventId = returnedEvent.Id,
                    CurrentStep = ReservationStep.SeatSelection
                };

                var command = new UpdateReservationStateCommand(ProtectedSessionStore, reservationState);
                await ReservationStateAsyncInvoker.ExecuteCommand(command);
				this.reservationState = reservationState;

                NavigationManager.NavigateTo("/reservation");
            }
        }
    }
}